<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://kit.fontawesome.com/b6b6c2826a.js" crossorigin="anonymous"></script>
    <title>Create</title>

    <!-- Bootstrap -->
    <link href="/CSS/create.css" rel="stylesheet">
    <style>
      
  .modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    padding-top: 100px; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
  }

  /* Modal Content */
  .modal-content {
    background-color: #797474;
    margin: auto;
    margin-top: -70px;
    padding: 20px;
    border: 1px solid #888;
    width: 40%;
  }

  /* The Close Button */
  .close {
    color: #ffffff;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }

  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
    </style>
    
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark Dark-mode-body">
       <a class="navbar-brand" href="homepage"><img src="/images/RFLOGO2.png" width="250px" height="60px"></a>
       <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
       <span class="navbar-toggler-icon"></span>
       </button>
    </nav>
    <br><br><br>
    <hr>

    <div class="sidebar"><br>
        <a class ="active" href="#"><i class="far fa-file" style="font-size:40px;color:white"></i><br>Create</a>
        <a href="view"><i class="far fa-folder-open" style="font-size:40px;color:white"></i>Open</a>
        <a href="createDay"><i class="fas fa-adjust" style="font-size:40px;color:white"></i>Night Mode</a>
    </div>

        <div class="container bg-custom mt-5 pt-3">
		
		<br><h1>Create Reports</h1><hr>

			
		<div class="row1">
		  <div class="col-75">
			<div class="container">
			  <form action="/create" method="POST"><br>

				<div class="row">
				  <div class="col-50">
					<label for="Date">Date</label>
					<input type="date" id="date" name="Date"></div>

          <div class="col-25">
					<label for="Month">Month</label>
					<input type="text" id="Month" name="month" placeholder = "e.g. January, February,..." required>
          </div>

          <div class="col-25">
					<label for="Week">Week</label>
					<input type="text" id="Week" name="Week" placeholder = "e.g. Week 1, Week 2" required>
          </div>

         
        </div>

        <div class="row">
				  <div class="col-50">
					<label for="Sales Invoice No.">Sales Invoice No.</label>
					<input type="text" id="Invoice_No" name="Invoice_No" placeholder = "Enter Sales Invoice No." required></div>

          <div class="col-50">
					<label for="Tin">Tin</label>
					<input type="text" id="Tin" name="Tin" placeholder = "Enter Tin" required></div>
        </div>

        <div class="row">
				  <div class="col-50">
					<label for="Quantity">Quantity</label>
					<input type="text" id="Quantity" name="Quantity" placeholder = "Enter the Quantity" required></div>

          <div class="col-50">
					<label for="Unit Price">Unit Price</label>
					<input type="text" id="Unit_Price" name="Unit_Price" placeholder = "Enter the Unit Price" required></div>
        </div>

        <div class="row">
				  <div class="col-50">
					<label for="Calculation">Calculation</label>
					<input type="text" id="Calculation" name="Calculation" placeholder = "Enter the Calculation" required></div>

          <div class="col-50">
					<label for="Total Sale">Total Sale</label>
					<input type="number" id="Total_Sale" name="Total_Sale" placeholder = "Enter the Total Sale" required></div>
        </div>
        </div>

         <!-- The Modal -->
          <div id="myModal" class="modal">

            <!-- Modal content -->
            <div class="modal-content">
              <span style="font-size: 40px;" class="close">&times;</span>
              <blockquote style="font-size: 20px;">&emsp;&emsp;Are you sure you want to save this report?</blockquote>
              <div class="row">
                <div class="col-50">
              <input type="submit" value="Save" class="btn3">
              </div>
              </div>
            </div>
          </div>

          
				</form>
        <div class="row">
				  <div class="col-50">
            <!--<input type="submit" value="Save" class="btn1">-->
            <button class="btn1" id="myBtn">Save</button>
					</div>
           
          </div>


      </div>
			</div>
		  </div>

      <script>
        // Get the modal
        var modal = document.getElementById("myModal");

        // Get the button that opens the modal
        var btn = document.getElementById("myBtn");

        // Get the <span> element that closes the modal
        var span = document.getElementsByClassName("close")[0];


        // When the user clicks the button, open the modal 
        btn.onclick = function() {
          modal.style.display = "block";
        }

        // When the user clicks on <span> (x), close the modal
        span.onclick = function() {
          modal.style.display = "none";
        }

        // When the user clicks anywhere outside of the modal, close it
        window.onclick = function(event) {
          if (event.target == modal) {
            modal.style.display = "none";
          }
        }

    
      </script>
      
  </body>
</html>
