<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://kit.fontawesome.com/b6b6c2826a.js" crossorigin="anonymous"></script>
    <title>Bootstrap - Prebuilt Layout</title>

    <!-- Bootstrap -->
    <link href="CSS/homeDay.css" rel="stylesheet">

  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark day-mode-body">
       <a class="navbar-brand" href="#"><img src="images/RFLOGO3.png" width="250px" height="60px"></a>
       <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
       <span class="navbar-toggler-icon"></span>
       </button>
    </nav>
      <br><br><br>
    <hr>

    <div class="sidebar"><br>
        <a href="create"><i class="far fa-file" style="font-size:40px;color:white"></i><br>Create</a>
        <a href="viewDay"><i class="far fa-folder-open" style="font-size:40px;color:white"></i>Open</a>
        <a href="homepage"><i class="fas fa-adjust" style="font-size:40px;color:white"></i>Day Mode</a>
    </div>

    <div class="mainbutton">
        <a href="createDay"><button><i class="far fa-file" style="font-size:150px;color:#15aabf"></i><br><br>CREATE NEW REPORT</button></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="viewDay"><button><i class="far fa-folder-open" style="font-size:150px;color:#15aabf"></i><br><br>VIEW EXISTING REPORTS</button></a>
    </div>

  </body>
</html>
