<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link rel="stylesheet" href="/CSS/index.css">
    <script src="/JS/login.js"></script>
</head>
<body onresize="changeColor ()">
    <div id="outerbox">
        <div id="innerbox">
            <form>
                <h2>Login</h2><br>

                <!--Entering Username-->
                <input  
                id ="user" 
                class ="input" 
                type = "text" 
                placeholder ="  Username" 
                pattern ="[A-Za-z0-9]{3,}" 
                onclick = "inputData ()"
                ><br><br>

                <!--Entering Password-->
                <input  
                id ="pwd" 
                class ="input" 
                type ="password"  
                placeholder ="  Password"  
                pattern ="[A-Za-z0-9]{3,}" 
                ><br><br>

                <!--Sign in button-->
                <input 
                id="submit" 
                type= "submit" 
                value="Sign in"><br><br>

                <a id="recover" href="#">Lost your Password?</a><br><br>
               
            </form>    
        </div>

        <img src="images/RFLOGO2.png" width="200px" height="50px">
    </div>
</body>
</html>